<a href="https://colab.research.google.com/github/tldtldcpfl/JoChaeRin/blob/master/cancer_%EB%A1%9C%EC%A7%93%ED%9A%8C%EA%B7%80.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

설명
- dataset : cancer genetic mutations (암유전적 변이)

- training_text 데이터는 gene, variation, class로 구성돼어있다. 

- model:  로지스틱 회귀 모델 (ml알고리즘)을 통해 데이터의 class를 분류한다.


- evaluation:  모델의 분류 정확도는 54%로 낮은 성능을 보였다.

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import re
import time
import warnings
import numpy as np
from nltk.corpus import stopwords
from sklearn.decomposition import TruncatedSVD
from sklearn.preprocessing import normalize
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.manifold import TSNE
import seaborn as sns
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score, log_loss
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import SGDClassifier
from imblearn.over_sampling import SMOTE
from collections import Counter
from scipy.sparse import hstack
from sklearn.multiclass import OneVsRestClassifier
from sklearn.svm import SVC
#from sklearn.cross_validation import StratifiedKFold 
from collections import Counter, defaultdict
from sklearn.calibration import CalibratedClassifierCV
from sklearn.naive_bayes import MultinomialNB
from sklearn.naive_bayes import GaussianNB
from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV
import math
from sklearn.metrics import normalized_mutual_info_score
from sklearn.ensemble import RandomForestClassifier
warnings.filterwarnings("ignore")
import nltk
from mlxtend.classifier import StackingClassifier

from sklearn import model_selection
from sklearn.linear_model import LogisticRegression

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

In [2]:
df_tab = pd.read_csv('/content/training_variants')

In [4]:
df_tab.head()

   ID    Gene             Variation  Class
0   0  FAM58A  Truncating Mutations      1
1   1     CBL                 W802*      2
2   2     CBL                 Q249E      2
3   3     CBL                 N454D      3
4   4     CBL                 L399V      4

In [5]:
df_tab.shape

(3321, 4)

In [6]:
# Count of Unique Values of Gene
df_tab["Gene"].value_counts()

BRCA1     264
TP53      163
EGFR      141
PTEN      126
BRCA2     125
         ...
CTLA4       1
KDM5A       1
RAD51B      1
PIK3R3      1
STAG2       1
Name: Gene, Length: 264, dtype: int64

In [7]:
# Count of Unique Values of Variation
df_tab["Variation"].value_counts()

Truncating Mutations    93
Deletion                74
Amplification           71
Fusions                 34
Overexpression           6
                        ..
S252W                    1
M541L                    1
ETV6-PDGFRB Fusion       1
N319D                    1
S170R                    1
Name: Variation, Length: 2996, dtype: int64

In [8]:
# Count of Unique Values of Class
df_tab["Class"].value_counts()

7    953
4    686
1    568
2    452
6    275
5    242
3     89
9     37
8     19
Name: Class, dtype: int64

In [9]:
df_tab.isnull().sum()

ID           0
Gene         0
Variation    0
Class        0
dtype: int64

Reading Text Dataset and EDA

In [10]:
df_text =pd.read_csv("/content/training_text",sep="\|\|",engine="python",names=["ID","TEXT"],skiprows=1)
df_text.head()

   ID                                               TEXT
0   0  Cyclin-dependent kinases (CDKs) regulate a var...
1   1   Abstract Background  Non-small cell lung canc...
2   2   Abstract Background  Non-small cell lung canc...
3   3  Recent evidence has demonstrated that acquired...
4   4  Oncogenic mutations in the monomeric Casitas B...

In [11]:
df_text.shape

(518, 2)

Merge Datasets

In [12]:
df_merge = pd.merge(df_tab,df_text, on="ID",how="left")
df_merge.head()

   ID    Gene  ... Class                                               TEXT
0   0  FAM58A  ...     1  Cyclin-dependent kinases (CDKs) regulate a var...
1   1     CBL  ...     2   Abstract Background  Non-small cell lung canc...
2   2     CBL  ...     2   Abstract Background  Non-small cell lung canc...
3   3     CBL  ...     3  Recent evidence has demonstrated that acquired...
4   4     CBL  ...     4  Oncogenic mutations in the monomeric Casitas B...

[5 rows x 5 columns]

In [13]:
# lowercase column names
df_merge.columns = df_merge.columns.str.lower()

전처리

Clean Text Column

In [14]:
df_merge.isnull().sum()

id              0
gene            0
variation       0
class           0
text         2803
dtype: int64

In [15]:
df_merge[df_merge.isnull().any(axis=1)]

        id   gene variation  class text
518    518   TP53     P151A      4  NaN
519    519   TP53     R273G      1  NaN
520    520   TP53     V197E      1  NaN
521    521   TP53     E286K      4  NaN
522    522   TP53     K120M      4  NaN
...    ...    ...       ...    ...  ...
3316  3316  RUNX1     D171N      4  NaN
3317  3317  RUNX1     A122*      1  NaN
3318  3318  RUNX1   Fusions      1  NaN
3319  3319  RUNX1      R80C      4  NaN
3320  3320  RUNX1      K83E      4  NaN

[2803 rows x 5 columns]

In [16]:
# Fill NaN values with Gene & Variation 
df_merge.loc[df_merge["text"].isnull(),"text"] = df_merge["gene"] + " " + df_merge["variation"]

In [17]:
df_merge.isnull().sum()

id           0
gene         0
variation    0
class        0
text         0
dtype: int64

In [18]:
# lowercase 
df_merge["text"] = df_merge["text"].apply(lambda x: " ".join(i.lower() for i in x.split()))
df_merge.head()

   id    gene  ... class                                               text
0   0  FAM58A  ...     1  cyclin-dependent kinases (cdks) regulate a var...
1   1     CBL  ...     2  abstract background non-small cell lung cancer...
2   2     CBL  ...     2  abstract background non-small cell lung cancer...
3   3     CBL  ...     3  recent evidence has demonstrated that acquired...
4   4     CBL  ...     4  oncogenic mutations in the monomeric casitas b...

[5 rows x 5 columns]

In [19]:
# remove punctuations
df_merge["text"] = df_merge["text"].str.replace("[^\w\s]","")
df_merge.head()

   id    gene  ... class                                               text
0   0  FAM58A  ...     1  cyclindependent kinases cdks regulate a variet...
1   1     CBL  ...     2  abstract background nonsmall cell lung cancer ...
2   2     CBL  ...     2  abstract background nonsmall cell lung cancer ...
3   3     CBL  ...     3  recent evidence has demonstrated that acquired...
4   4     CBL  ...     4  oncogenic mutations in the monomeric casitas b...

[5 rows x 5 columns]

In [20]:
# remove numeric values
df_merge["text"] = df_merge["text"].str.replace("\d","")
df_merge.head()

   id    gene  ... class                                               text
0   0  FAM58A  ...     1  cyclindependent kinases cdks regulate a variet...
1   1     CBL  ...     2  abstract background nonsmall cell lung cancer ...
2   2     CBL  ...     2  abstract background nonsmall cell lung cancer ...
3   3     CBL  ...     3  recent evidence has demonstrated that acquired...
4   4     CBL  ...     4  oncogenic mutations in the monomeric casitas b...

[5 rows x 5 columns]

In [21]:
# remove stopwords: the,a,an etc.
nltk.download("stopwords")
from nltk.corpus import stopwords
sw = stopwords.words("english")

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

In [23]:
df_merge["text"] = df_merge["text"].apply(lambda x: " ".join(i for i in x.split() if i not in sw))
df_merge.head()

   id    gene  ... class                                               text
0   0  FAM58A  ...     1  cyclindependent kinases cdks regulate variety ...
1   1     CBL  ...     2  abstract background nonsmall cell lung cancer ...
2   2     CBL  ...     2  abstract background nonsmall cell lung cancer ...
3   3     CBL  ...     3  recent evidence demonstrated acquired uniparen...
4   4     CBL  ...     4  oncogenic mutations monomeric casitas blineage...

[5 rows x 5 columns]

토크나이징

- 문장을 단어로 나누기

In [24]:
nltk.download("punkt")
import textblob
from textblob import TextBlob

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

In [26]:
# an example:
TextBlob(df_merge["text"][1]).words

WordList(['abstract', 'background', 'nonsmall', 'cell', 'lung', 'cancer', 'nsclc', 'heterogeneous', 'group', 'disorders', 'number', 'genetic', 'proteomic', 'alterations', 'ccbl', 'e', 'ubiquitin', 'ligase', 'adaptor', 'molecule', 'important', 'normal', 'homeostasis', 'cancer', 'determined', 'genetic', 'variations', 'ccbl', 'relationship', 'receptor', 'tyrosine', 'kinases', 'egfr', 'met', 'functionality', 'nsclc', 'methods', 'findings', 'using', 'archival', 'formalinfixed', 'paraffin', 'embedded', 'ffpe', 'extracted', 'genomic', 'dna', 'show', 'ccbl', 'mutations', 'occur', 'somatic', 'fashion', 'lung', 'cancers', 'ccbl', 'mutations', 'mutually', 'exclusive', 'met', 'egfr', 'mutations', 'however', 'independent', 'p', 'kras', 'mutations', 'normaltumor', 'pairwise', 'analysis', 'significant', 'loss', 'heterozygosity', 'loh', 'ccbl', 'locus', 'n', 'none', 'samples', 'revealed', 'mutation', 'remaining', 'copy', 'ccbl', 'ccbl', 'loh', 'also', 'positively', 'correlated', 'egfr', 'met', 'mutations', 'observed', 'samples', 'using', 'select', 'ccbl', 'somatic', 'mutations', 'snhy', 'qe', 'w', 'obtained', 'caucasian', 'taiwanese', 'africanamerican', 'samples', 'respectively', 'transfected', 'nsclc', 'cell', 'lines', 'increased', 'cell', 'viability', 'cell', 'motility', 'conclusions', 'taking', 'overall', 'mutation', 'rate', 'ccbl', 'combination', 'somatic', 'missense', 'mutation', 'loh', 'clear', 'ccbl', 'highly', 'mutated', 'lung', 'cancers', 'may', 'play', 'essential', 'role', 'lung', 'tumorigenesis', 'metastasis', 'go', 'introduction', 'us', 'alone', 'year', 'approximately', 'people', 'diagnosed', 'lung', 'cancers', 'succumb', 'disease', 'number', 'roughly', 'equivalent', 'combined', 'mortality', 'rates', 'cancers', 'breast', 'prostate', 'colon', 'liver', 'kidney', 'melanoma', 'addition', 'prognosis', 'usually', 'poor', 'fiveyear', 'survival', 'rate', 'less', 'also', 'significant', 'ethnic', 'differences', 'lung', 'cancer', 'outcome', 'worse', 'blacks', 'compared', 'whites', 'gender', 'differences', 'also', 'striking', 'women', 'significantly', 'better', 'prognosis', 'compared', 'men', 'number', 'genetic', 'alterations', 'occur', 'lung', 'cancer', 'example', 'nsclc', 'mutations', 'kras', 'p', 'egfr', 'met', 'identified', 'many', 'pathways', 'especially', 'receptor', 'tyrosine', 'kinases', 'rtks', 'controlled', 'ccbl', 'cbl', 'casitas', 'blineage', 'lymphoma', 'mammalian', 'gene', 'located', 'human', 'chromosome', 'q', 'involved', 'cell', 'signaling', 'protein', 'ubiquitination', 'cbl', 'proteins', 'belong', 'ring', 'finger', 'class', 'ubiquitin', 'ligases', 'e', 'three', 'homologues', 'ccbl', 'cblb', 'cbl', 'ccbl', 'cblb', 'genes', 'ubiquitously', 'expressed', 'highest', 'levels', 'hematopoietic', 'tissues', 'ccbl', 'consists', 'four', 'regions', 'encoding', 'functionally', 'distinct', 'protein', 'domains', 'nterminal', 'tyrosine', 'kinase', 'binding', 'tkb', 'domain', 'linker', 'region', 'catalytic', 'ring', 'finger', 'domain', 'prolinerich', 'region', 'cterminal', 'ubiquitinassociated', 'uba', 'domain', 'also', 'overlaps', 'leucinezipper', 'lz', 'domain', 'tkb', 'ring', 'finger', 'domains', 'essential', 'ligandinduced', 'ubiquitination', 'rtks', 'ring', 'finger', 'domain', 'required', 'recruitment', 'e', 'ubiquitinconjugating', 'enzymes', 'tkb', 'domain', 'includes', 'fourhelix', 'bundle', 'h', 'calciumbiding', 'ef', 'hand', 'modified', 'sh', 'domain', 'binds', 'phosphotyrosine', 'residues', 'addition', 'prolinerich', 'region', 'ccbl', 'associate', 'sh', 'domain', 'grb', 'indirectly', 'recruit', 'ccbl', 'rtks', 'via', 'grb', 'adaptor', 'protein', 'ccbl', 'also', 'binds', 'egfr', 'acts', 'e', 'targets', 'egfr', 'ubiquitination', 'degradation', 'furthermore', 'cbl', 'desensitizes', 'egf', 'signaling', 'opposes', 'cellular', 'proliferation', 'induced', 'egf', 'egf', 'activation', 'also', 'appears', 'activate', 'tyrosine', 'kinase', 'src', 'phosphorylates', 'ccbl', 'turn', 'activates', 'ubiquitination', 'degradation', 'egfr', 'recent', 'study', 'shows', 'defective', 'endocytosis', 'egfr', 'characterized', 'deletion', 'mutant', 'point', 'mutation', 'lr', 'whereby', 'association', 'ccbl', 'subsequent', 'ubiquitination', 'impaired', 'recently', 'first', 'human', 'ccbl', 'mutations', 'reported', 'acute', 'myeloid', 'leukemia', 'aml', 'patients', 'mutation', 'rq', 'inhibits', 'fmslike', 'tyrosine', 'kinase', 'flt', 'internalization', 'ubiquitination', 'e', 'activity', 'important', 'oncogenesis', 'ccbl', 'dual', 'separate', 'function', 'signal', 'transduction', 'molecule', 'previously', 'shown', 'ccbl', 'important', 'binding', 'crkl', 'bcrabl', 'hematopoietic', 'cells', 'also', 'bind', 'modulate', 'functions', 'cytoskeleton', 'binding', 'proteins', 'like', 'talin', 'paxillin', 'tkb', 'domain', 'important', 'binding', 'number', 'molecules', 'function', 'signal', 'transduction', 'given', 'critical', 'role', 'cbl', 'normal', 'homeostasis', 'cancer', 'hypothesized', 'might', 'mutated', 'lung', 'cancers', 'study', 'report', 'novel', 'ccbl', 'somatic', 'mutations', 'snhy', 'qe', 'w', 'caucasian', 'taiwanese', 'africanamerican', 'lung', 'cancer', 'patients', 'respectively', 'expressing', 'mutations', 'nsclc', 'cell', 'lines', 'lead', 'increased', 'proliferation', 'cell', 'motility', 'show', 'ccbl', 'mutations', 'occur', 'without', 'met', 'egfr', 'mutations', 'mutually', 'exclusive', 'loh', 'ccbl', 'locus', 'additionally', 'ccbl', 'loh', 'associated', 'either', 'met', 'egfr', 'mutations', 'thus', 'hypothesize', 'ccbl', 'mutations', 'might', 'contribute', 'oncogenic', 'potential', 'met', 'egfr', 'lung', 'cancer', 'go', 'methods', 'ethics', 'statement', 'written', 'consent', 'research', 'human', 'subjects', 'obtained', 'institutional', 'review', 'board', 'university', 'chicago', 'covers', 'research', 'performed', 'laboratory', 'following', 'contact', 'information', 'institutional', 'review', 'board', 'university', 'chicago', 'mcgiffert', 'hall', 'woodlawn', 'ave', 'nd', 'floor', 'chicago', 'il', 'written', 'informed', 'consents', 'received', 'patients', 'whose', 'tissue', 'samples', 'used', 'study', 'tissue', 'samples', 'lung', 'cancer', 'tissue', 'paired', 'adjacent', 'normal', 'lung', 'tissues', 'obtained', 'caucasian', 'africanamericans', 'taiwanese', 'nsclc', 'patients', 'recruited', 'university', 'chicago', 'hospital', 'chicago', 'usa', 'caucasian', 'africanamerican', 'patients', 'taipei', 'veterans', 'general', 'hospital', 'taiwan', 'taiwanese', 'patients', 'obtaining', 'appropriate', 'institutional', 'review', 'board', 'permission', 'informed', 'consent', 'patients', 'samples', 'men', 'women', 'unknown', 'age', 'diagnosis', 'ranging', 'years', 'terms', 'tumor', 'types', 'adenocarcinoma', 'squamous', 'cell', 'carcinoma', 'large', 'cell', 'carcinoma', 'stage', 'stage', 'ii', 'stage', 'iii', 'stage', 'iv', 'table', 'cell', 'culture', 'human', 'nonsmall', 'cell', 'lung', 'carcinoma', 'cells', 'h', 'maintained', 'dmem', 'rpmi', 'respectively', 'human', 'embryonic', 'kidney', 'cells', 'cultured', 'dmem', 'media', 'supplemented', 'fetal', 'bovine', 'serum', 'unitsml', 'penicillin', 'µgml', 'streptomycin', 'invitrogen', 'carlsbad', 'ca', 'cells', 'cultured', 'c', 'humidified', 'incubator', 'containing', 'co', 'ccbl', 'gene', 'mutational', 'analysis', 'exons', 'ccbl', 'gene', 'individually', 'amplified', 'polymerase', 'chain', 'reaction', 'pcr', 'primers', 'listed', 'table', 'pcr', 'conditions', 'cycle', 'c', 'minutes', 'cycles', 'c', 'seconds', 'c', 'seconds', 'c', 'minutes', 'one', 'cycle', 'c', 'minutes', 'pcr', 'products', 'treated', 'exosapit', 'usb', 'corporation', 'cleveland', 'oh', 'sequenced', 'bigdye', 'terminator', 'chemistry', 'applied', 'biosystems', 'foster', 'city', 'ca', 'sequencing', 'performed', 'forward', 'coding', 'strand', 'confirmation', 'ccbl', 'alterations', 'performed', 'sequencing', 'reverse', 'strand', 'well', 'chromatograms', 'analyzed', 'mutations', 'using', 'mutation', 'surveyor', 'v', 'softgenetics', 'state', 'college', 'pa', 'plasmid', 'constructs', 'sitedirected', 'mutagenesis', 'wildtype', 'ccbl', 'cdna', 'insert', 'subcloned', 'paltermax', 'expression', 'vector', 'using', 'xhoi', 'sali', 'restriction', 'enzyme', 'sites', 'promega', 'madison', 'wi', 'using', 'parental', 'plasmid', 'paltermaxccbl', 'tkb', 'domain', 'double', 'mutation', 'snhy', 'point', 'mutation', 'qe', 'cterminal', 'point', 'mutation', 'w', 'ccbl', 'created', 'using', 'following', 'primers', 'gctggcgctaaagaataacccaccttatatcttagac', 'ctaccagatacctaccagtatctccgtactatcttgtc', 'double', 'mutation', 'snhy', 'ctttacccgactctttgagccctggtcctctttgc', 'qe', 'cagctcctcctttggctgattgtctctggatggtgatc', 'w', 'along', 'complementary', 'primers', 'using', 'quickchange', 'sitedirected', 'mutagenesis', 'xl', 'kit', 'stratagene', 'la', 'jolla', 'ca', 'according', 'manufacturers', 'instructions', 'constructs', 'confirmed', 'point', 'mutations', 'standard', 'dna', 'sequencing', 'strands', 'loss', 'heterozygosity', 'loh', 'analysis', 'five', 'microsatellites', 'chromosome', 'q', 'within', 'kb', 'downstream', 'ccbl', 'gene', 'control', 'markers', 'p', 'selected', 'analysis', 'table', 'established', 'microsatellite', 'markers', 'respective', 'primer', 'sequences', 'selected', 'geneloc', 'database', 'httpgenecardsweizmannacilgenelocindexshtml', 'weizmann', 'institute', 'science', 'rehovot', 'israel', 'primers', 'custom', 'designed', 'forward', 'primer', 'fluorescently', 'labeled', 'end', 'fam', 'pet', 'ned', 'vic', 'applied', 'biosystems', 'primer', 'annealing', 'temperatures', 'duplex', 'scores', 'evaluated', 'nist', 'primer', 'tools', 'httpyellownistgovdnaanalysisprimertoolspagedo', 'national', 'institute', 'standards', 'technology', 'gaithersburg', 'md', 'primers', 'verified', 'performing', 'pcr', 'control', 'dna', 'isolated', 'tk', 'cells', 'resolving', 'products', 'agarose', 'gels', 'bands', 'visualized', 'uv', 'transilluminator', 'genomic', 'dna', 'extracted', 'tumor', 'samples', 'paired', 'normal', 'lung', 'tissue', 'primers', 'grouped', 'multiplex', 'combinations', 'shown', 'table', 'marker', 'ds', 'served', 'internal', 'control', 'check', 'consistency', 'pcrs', 'peaks', 'capillary', 'electrophoresis', 'multiplex', 'pcrs', 'carried', 'volume', 'µl', 'contained', 'µl', 'genomic', 'dna', 'ng', 'µm', 'primer', 'µm', 'total', 'primer', 'pair', 'µm', 'dntps', 'x', 'pcr', 'buffer', 'containing', 'mgcl', 'u', 'taq', 'dna', 'polymerase', 'pcr', 'performed', 'abi', 'geneamp', 'pcr', 'system', 'following', 'conditions', 'min', 'c', 'cycles', 'sec', 'c', 'min', 'c', 'min', 'c', 'min', 'c', 'pcr', 'products', 'separated', 'capillary', 'electrophoresis', 'abi', 'xl', 'dna', 'analyzer', 'chromatograms', 'analyzed', 'peak', 'scanner', 'genemapper', 'software', 'applied', 'biosystems', 'allelic', 'alterations', 'area', 'peaks', 'produced', 'dna', 'pcr', 'products', 'quantified', 'allele', 'ratio', 'allelic', 'areas', 'calculated', 'tumor', 'paired', 'normal', 'dna', 'sample', 'qloh', 'allelic', 'ratio', 'tumor', 'peaks', 'divided', 'allelic', 'ratio', 'paired', 'normal', 'sample', 'ccbl', 'least', 'one', 'q', 'marker', 'least', 'two', 'separate', 'experiments', 'sample', 'considered', 'allelic', 'imbalance', 'interpreted', 'loh', 'samples', 'evaluated', 'least', 'two', 'separate', 'experiments', 'samples', 'showing', 'prospective', 'loh', 'ccbl', 'repeated', 'third', 'time', 'included', 'new', 'control', 'marker', 'bax', 'locus', 'data', 'shown', 'chromosome', 'verify', 'integrity', 'sample', 'dna', 'transfection', 'ccbl', 'constructs', 'cell', 'line', 'transfected', 'using', 'fugene', 'hd', 'roche', 'nutley', 'nj', 'reagent', 'according', 'manufacturers', 'instructions', 'eight', 'µg', 'plasmid', 'dna', 'containing', 'either', 'insert', 'empty', 'vector', 'wildtype', 'ccbl', 'snhy', 'ccbl', 'qe', 'ccbl', 'w', 'cbl', 'used', 'transfection', 'well', 'culture', 'plate', 'cells', 'harvested', 'h', 'transfection', 'analyzed', 'expression', 'ccbl', 'knockdown', 'ccbl', 'knockdown', 'performed', 'using', 'lentiviral', 'transduction', 'using', 'mission', 'lentiviral', 'transduction', 'particles', 'sigmaaldrich', 'st', 'louis', 'mo', 'per', 'manufacturers', 'instructions', 'briefly', 'h', 'cellswell', 'seeded', 'well', 'plates', 'infected', 'following', 'day', 'ccbl', 'lentiviral', 'shrna', 'constructs', 'generate', 'stable', 'ccbl', 'knockdown', 'cell', 'lines', 'cells', 'selected', 'days', 'µgml', 'puromycin', 'ccbl', 'levels', 'determined', 'using', 'whole', 'cell', 'lysates', 'immunoblotting', 'anticbl', 'antibody', 'santa', 'cruz', 'biotechnologies', 'santa', 'cruz', 'ca', 'cell', 'viability', 'assay', 'cells', 'transfected', 'described', 'transfection', 'assay', 'fortyeight', 'hours', 'transfection', 'viability', 'cells', 'assessed', 'using', 'trypan', 'blue', 'exclusion', 'wound', 'healing', 'assay', 'cells', 'seeded', 'well', 'plates', 'cultured', 'h', 'confluent', 'medium', 'changed', 'cells', 'transfected', 'described', 'transfection', 'assay', 'twelve', 'hours', 'transfection', 'straight', 'scratch', 'made', 'across', 'cell', 'layer', 'using', 'ml', 'pipette', 'tip', 'cells', 'gently', 'washed', 'pbs', 'remove', 'cellular', 'debris', 'media', 'replaced', 'photographs', 'taken', 'wound', 'region', 'every', 'h', 'h', 'western', 'blot', 'analysis', 'forty', 'eight', 'hours', 'transfection', 'cells', 'collected', 'washed', 'twice', 'x', 'pbs', 'lysed', 'icecold', 'lysis', 'buffer', 'trishcl', 'ph', 'nacl', 'deoxycholic', 'acid', 'mm', 'edta', 'np', 'mm', 'dtt', 'mm', 'phenylmethylsulfonyl', 'fluoride', 'µgml', 'leupeptin', 'µgml', 'aprotinin', 'minutes', 'lysate', 'centrifuged', 'rpm', 'minutes', 'c', 'protein', 'content', 'supernatant', 'measured', 'total', 'cell', 'lysates', 'µgwell', 'separated', 'sdspage', 'electrophoresis', 'gels', 'transferred', 'onto', 'nitrocellulose', 'membranes', 'whatman', 'piscataway', 'nj', 'membranes', 'blocked', 'nonfat', 'dry', 'milk', 'phosphatebuffered', 'saline', 'containing', 'tween', 'pbst', 'x', 'pbs', 'tween', 'h', 'room', 'temperature', 'incubated', 'appropriate', 'primary', 'antibody', 'c', 'overnight', 'membranes', 'washed', 'three', 'times', 'pbst', 'probed', 'appropriate', 'horseradish', 'peroxidase', 'hrpconjugated', 'secondary', 'antibody', 'h', 'room', 'temperature', 'membranes', 'washed', 'three', 'times', 'pbst', 'bands', 'visualized', 'using', 'western', 'blot', 'chemiluminescence', 'reagent', 'biorad', 'valencia', 'ca', 'chemidoc', 'gel', 'documentation', 'system', 'biorad', 'valencia', 'ca', 'antibodies', 'obtained', 'santa', 'cruz', 'biotechnologies', 'used', 'following', 'dilutions', 'ccbl', 'cmet', 'egfr', 'ubiquitin', 'ha', 'βactin', 'flow', 'cytometry', 'cell', 'cycle', 'analysis', 'carried', 'flow', 'cytometry', 'approximately', 'cells', 'grown', 'media', 'containing', 'fbs', 'cells', 'harvested', 'trypsinedta', 'treatment', 'washed', 'x', 'pbs', 'three', 'times', 'fixed', 'icecold', 'ethanol', 'h', 'cells', 'washed', 'cold', 'pbs', 'stained', 'solution', 'containing', 'µgml', 'propidium', 'iodide', 'µgml', 'rnase', 'triton', 'x', 'minutes', 'dark', 'cell', 'cycle', 'analysis', 'performed', 'using', 'guava', 'pca', 'flow', 'cytometer', 'guava', 'technologies', 'millipore', 'billerica', 'ubiquitin', 'ligase', 'activity', 'cells', 'maintained', 'culture', 'dmem', 'supplemented', 'fbs', 'penicillin', 'unitsml', 'streptomycin', 'µgml', 'transfected', 'µg', 'egfrpcdna', 'µg', 'hatagged', 'ccbl', 'constructs', 'indicated', 'using', 'calcium', 'phosphate', 'according', 'manufacturers', 'protocol', 'profection', 'promega', 'madison', 'wi', 'twentyfour', 'hours', 'posttransfection', 'cells', 'starved', 'overnight', 'dmem', 'supplemented', 'fbs', 'treated', 'without', 'egf', 'ngml', 'min', 'cells', 'collected', 'washed', 'two', 'times', 'icecold', 'pbs', 'containing', 'mm', 'sodium', 'orthovanadate', 'lysed', 'icecold', 'lysis', 'buffer', 'mm', 'tris', 'hcl', 'ph', 'mm', 'nacl', 'mm', 'edta', 'triton', 'x', 'glycerol', 'mm', 'sodium', 'orthovanadate', 'protease', 'inhibitors', 'lysates', 'cleared', 'debris', 'centrifugation', 'g', 'min', 'c', 'egfr', 'immunoprecipitations', 'performed', 'µg', 'cleared', 'lysate', 'using', 'ng', 'rabbitantiegfr', 'protein', 'ag', 'plus', 'sepharose', 'overnight', 'c', 'precipitations', 'washed', 'times', 'lysis', 'buffer', 'boiling', 'laemmli', 'buffer', 'elutions', 'immunoblotted', 'antiubiquitin', 'egfr', 'twenty', 'micrograms', 'cleared', 'lysate', 'immunoblotted', 'ccbl', 'constructs', 'using', 'antiha', 'statistical', 'analysis', 'mutation', 'rates', 'different', 'groups', 'compared', 'using', 'fishers', 'exact', 'test', 'continuous', 'variables', 'group', 'comparisons', 'performed', 'using', 'analysis', 'variance', 'anova', 'followed', 'sidaks', 'adjustment', 'multiple', 'comparisons', 'experiments', 'involving', 'repeated', 'measurements', 'time', 'analyzed', 'using', 'repeated', 'measures', 'anova', 'greenhousegeisser', 'adjustment', 'degrees', 'freedom', 'analyses', 'conducted', 'using', 'stata', 'v', 'software', 'stata', 'corporation', 'college', 'station', 'tx', 'go', 'results', 'ccbl', 'gene', 'mutations', 'lung', 'cancer', 'investigate', 'role', 'ccbl', 'lung', 'cancer', 'analyzed', 'genomic', 'dna', 'tumor', 'paired', 'normal', 'samples', 'drawn', 'multiple', 'ethnicities', 'lung', 'tumor', 'samples', 'represented', 'caucasians', 'n', 'africanamericans', 'n', 'taiwanese', 'n', 'lung', 'cancer', 'patients', 'designed', 'pairs', 'primers', 'sequence', 'coding', 'region', 'ccbl', 'gene', 'spans', 'exons', 'table', 'identified', 'unique', 'somatic', 'mutations', 'ccbl', 'exons', 'among', 'different', 'patients', 'variation', 'lf', 'known', 'snp', 'rs', 'exon', 'also', 'detected', 'importantly', 'eight', 'novel', 'nonsynonymous', 'mutations', 'confirmed', 'sequencing', 'strands', 'ccbl', 'genomic', 'dna', 'obtained', 'lung', 'tumor', 'samples', 'table', 'moreover', 'none', 'mutations', 'detected', 'corresponding', 'normal', 'tissue', 'indicating', 'somatic', 'mutations', 'four', 'synonymous', 'single', 'nucleotide', 'variations', 'snvs', 'also', 'identified', 'used', 'study', 'table', 'table', 'ccbl', 'mutation', 'analysis', 'lung', 'cancer', 'patient', 'tumor', 'tissues', 'three', 'novel', 'nonsynonymous', 'mutations', 'located', 'tkb', 'tyrosine', 'kinase', 'binding', 'domain', 'sn', 'hy', 'qe', 'one', 'ring', 'finger', 'domain', 'vi', 'one', 'prolinerich', 'region', 'del', 'atg', 'three', 'cterminal', 'region', 'w', 'rk', 'ccbl', 'protein', 'figure', 'figure', 'figure', 'b', 'show', 'model', 'chromatograms', 'representative', 'samples', 'figure', 'figure', 'ccbl', 'mutations', 'loh', 'nonsmall', 'cell', 'lung', 'cancer', 'q', 'loh', 'ccbl', 'gene', 'paired', 'lung', 'tumor', 'normal', 'lung', 'tissue', 'samples', 'taiwanese', 'patients', 'n', 'investigated', 'loh', 'eight', 'showed', 'loh', 'ccbl', 'locus', 'chromosome', 'samples', 'revealed', 'normal', 'allelic', 'contribution', 'microsatellite', 'markers', 'figures', 'c', 'ccbl', 'mutations', 'different', 'ethnic', 'groups', 'ccbl', 'double', 'mutant', 'snhy', 'found', 'patient', 'overall', 'mutation', 'rate', 'ccbl', 'lung', 'tumors', 'frequency', 'ccbl', 'mutation', 'highest', 'large', 'cell', 'carcinoma', 'patients', 'followed', 'squamous', 'carcinoma', 'patients', 'least', 'observed', 'adenocarcinoma', 'ad', 'patients', 'although', 'rates', 'statistically', 'significant', 'p', 'mutation', 'rates', 'among', 'caucasians', 'ad', 'sq', 'lc', 'africanamericans', 'ad', 'sq', 'lc', 'ad', 'sq', 'lc', 'taiwanese', 'population', 'additionally', 'two', 'taiwanese', 'patients', 'lung', 'cancer', 'one', 'squamous', 'one', 'adenocarcinoma', 'known', 'snp', 'lf', 'ethnic', 'differences', 'statistically', 'significant', 'however', 'power', 'detect', 'differences', 'low', 'mutations', 'met', 'egfr', 'coassociated', 'ccbl', 'alterations', 'since', 'east', 'asians', 'lung', 'cancer', 'higher', 'frequency', 'egfr', 'met', 'mutations', 'lung', 'tumors', 'also', 'determined', 'mutations', 'egfr', 'met', 'taiwanese', 'cohort', 'samples', 'compared', 

In [27]:
df_merge["text"] = df_merge["text"].apply(lambda x: TextBlob(x).words)
df_merge.head()

   id    gene  ... class                                               text
0   0  FAM58A  ...     1  [cyclindependent, kinases, cdks, regulate, var...
1   1     CBL  ...     2  [abstract, background, nonsmall, cell, lung, c...
2   2     CBL  ...     2  [abstract, background, nonsmall, cell, lung, c...
3   3     CBL  ...     3  [recent, evidence, demonstrated, acquired, uni...
4   4     CBL  ...     4  [oncogenic, mutations, monomeric, casitas, bli...

[5 rows x 5 columns]

lemmetization 

- 예) '아름다운' -> '아름답다'

In [28]:
from textblob import Word
nltk.download("wordnet")

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Unzipping corpora/wordnet.zip.

True

In [29]:
df_merge["text"] = df_merge["text"].apply(lambda x: " ".join(Word(word).lemmatize() for word in x))
df_merge.head()

   id    gene  ... class                                               text
0   0  FAM58A  ...     1  cyclindependent kinase cdks regulate variety f...
1   1     CBL  ...     2  abstract background nonsmall cell lung cancer ...
2   2     CBL  ...     2  abstract background nonsmall cell lung cancer ...
3   3     CBL  ...     3  recent evidence demonstrated acquired uniparen...
4   4     CBL  ...     4  oncogenic mutation monomeric casitas blineage ...

[5 rows x 5 columns]

In [30]:
df_merge.to_pickle("clean_text.pkl")

데이터셋 나누기

In [31]:
train_x, test_x, train_y, test_y = model_selection.train_test_split(df_merge[["gene","variation","text"]],
                                                                    df_merge["class"], 
                                                                    random_state = 7,
                                                                    stratify=df_merge["class"],
                                                                    test_size=0.2)

In [32]:
train_x.shape, test_x.shape, train_y.shape, test_y.shape

((2656, 3), (665, 3), (2656,), (665,))

In [33]:
train_x.head()

       gene variation     text
2874  BRCA2    D1420Y  brca dy
3242   DDR2     G253C   ddr gc
2942  GNA11     Q209L   gna ql
2347   JAK2    I1018W   jak iw
1043   TSC2     L493P   tsc lp

TF-IDF    (단어빈도-역문서빈도)

- 여러 문서군에서 어떤 단어가 특정 문서 내에서 얼마나 중요한지를 나타내는 통계적 수치

- 각 단어의 중요도를 가중치로 부여

In [35]:
# tf-idf-word-vectorizer 정의

tf_idf_word_vectorizer = TfidfVectorizer()
tf_idf_word_vectorizer.fit(train_x.text)

TfidfVectorizer(analyzer='word', binary=False, decode_error='strict',
                dtype=<class 'numpy.float64'>, encoding='utf-8',
                input='content', lowercase=True, max_df=1.0, max_features=None,
                min_df=1, ngram_range=(1, 1), norm='l2', preprocessor=None,
                smooth_idf=True, stop_words=None, strip_accents=None,
                sublinear_tf=False, token_pattern='(?u)\\b\\w\\w+\\b',
                tokenizer=None, use_idf=True, vocabulary=None)

In [36]:
tf_idf_word_vectorizer.get_feature_names()[0:5]

['a__p', 'a_ginsga', 'a_ginsyvma', 'a_sinstla', 'a_vdupasv']

In [37]:
len(tf_idf_word_vectorizer.get_feature_names())

39840

In [38]:
x_train_tf_idf_word = tf_idf_word_vectorizer.transform(train_x.text)
x_test_tf_idf_word = tf_idf_word_vectorizer.transform(test_x.text)

로지스틱 회귀 모델 정의

- 범주형 변수 예측 모델 --> 초평면으로 데이터 포인트의 범주를 분류 
- 다항로지스틱 회귀 모델은 입력 벡터 x를 k개의 각각의 클래스로 분류 
- 입력: x값 -> 출력: 0~1 사이의 확률값

In [39]:
# 로지스틱 회귀 모델 (범주형 변수 예측 모델) 정의
loj = LogisticRegression()
loj_model = loj.fit(x_train_tf_idf_word, train_y)

In [40]:
from sklearn import model_selection, preprocessing, linear_model, naive_bayes, metrics

In [41]:
# 로지스틱 회귀 모델의 정확도를 평가해보자

accuracy = model_selection.cross_val_score(loj_model, 
                                           x_test_tf_idf_word, 
                                           test_y, 
                                           cv = 10).mean()

print("Count Vectors Doğruluk Oranı:", accuracy) #정확도가 굉장히 낮다

Count Vectors Doğruluk Oranı: 0.5218453188602442

In [42]:
train_x.head()

       gene variation     text
2874  BRCA2    D1420Y  brca dy
3242   DDR2     G253C   ddr gc
2942  GNA11     Q209L   gna ql
2347   JAK2    I1018W   jak iw
1043   TSC2     L493P   tsc lp

In [43]:
train_y.head()

2874    6
3242    7
2942    7
2347    6
1043    7
Name: class, dtype: int64

In [44]:
test_x.head()

       gene      variation               text
2937    BTK          Y551F             btk yf
609    CDK4  Amplification  cdk amplification
2973    KIT          Y578C             kit yc
1302   MLH1          R100*              mlh r
814   ERCC2          P463L            ercc pl

In [45]:
df_merge.head()

   id    gene  ... class                                               text
0   0  FAM58A  ...     1  cyclindependent kinase cdks regulate variety f...
1   1     CBL  ...     2  abstract background nonsmall cell lung cancer ...
2   2     CBL  ...     2  abstract background nonsmall cell lung cancer ...
3   3     CBL  ...     3  recent evidence demonstrated acquired uniparen...
4   4     CBL  ...     4  oncogenic mutation monomeric casitas blineage ...

[5 rows x 5 columns]

In [46]:
df_merge.shape

(3321, 5)

In [47]:
df_merge.dtypes

id            int64
gene         object
variation    object
class         int64
text         object
dtype: object

In [48]:
gene_enc = pd.get_dummies(df_merge["gene"],drop_first=True)

In [49]:
variation_enc = pd.get_dummies(df_merge["variation"],drop_first=True)

In [50]:
df_enc = pd.concat([gene_enc,variation_enc],axis=1)

In [51]:
df_enc2 = pd.concat([df_merge["class"],df_enc],axis=1)
df_enc2.head()

   class  ACVR1  AGO2  ...  ZC3H7B-BCOR Fusion  ZNF198-FGFR1 Fusion  p61BRAF
0      1      0     0  ...                   0                    0        0
1      2      0     0  ...                   0                    0        0
2      2      0     0  ...                   0                    0        0
3      3      0     0  ...                   0                    0        0
4      4      0     0  ...                   0                    0        0

[5 rows x 3259 columns]

In [52]:
train_x, test_x, train_y, test_y = model_selection.train_test_split(df_enc2.drop("class",axis=1),
                                                                    df_enc2["class"], 
                                                                    random_state = 7,
                                                                    stratify=df_merge["class"],
                                                                    test_size=0.2)

In [53]:
loj = LogisticRegression()
loj_model = loj.fit(train_x, train_y)
accuracy = model_selection.cross_val_score(loj_model, 
                                           test_x, 
                                           test_y, 
                                           cv = 10).mean()

print("Count Vectors Doğruluk Oranı:", accuracy)

Count Vectors Doğruluk Oranı: 0.5428539122568973

In [54]:
tf_idf_word_vectorizer = TfidfVectorizer()
text_enc = tf_idf_word_vectorizer.fit_transform(df_merge.text)

In [55]:
text_enc_df = pd.DataFrame(text_enc.toarray())

In [56]:
df_enc3 = pd.concat([df_enc2,text_enc_df],axis=1)
df_enc3.head()

   class  ACVR1  AGO2  AKT1  AKT2  ...  44423  44424  44425  44426  44427
0      1      0     0     0     0  ...    0.0    0.0    0.0    0.0    0.0
1      2      0     0     0     0  ...    0.0    0.0    0.0    0.0    0.0
2      2      0     0     0     0  ...    0.0    0.0    0.0    0.0    0.0
3      3      0     0     0     0  ...    0.0    0.0    0.0    0.0    0.0
4      4      0     0     0     0  ...    0.0    0.0    0.0    0.0    0.0

[5 rows x 47687 columns]